body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background:orange;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: grey;
  color: white;
}

a{
text-decoration: none;
font-weight: bold;
color:black;
}


