<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{{url_for('static',filename='/css/about.css')}}" rel="stylesheet" type="text/css">
    <title>About us</title>
</head>
<body>

<center>
    <h1><a href="/" target="_Self" style="text-align:centre">Home</a></h1>
</center>

<div class="about-section">
    <h1>About Us</h1>
    <p>Hola Customer! It looks like you are here to know us better.Book My Table is a user friendly, easy to
        use website where one can done reservation of restaurant table by just fill up a simple form
        available on the website. Admin can see the table reservation request and check the availability
        of table, and give response within 1 hour. To use all these features you need to login first. So
        register fast and reserve ur table.</p>
</div>


</body>
</html>